# SQL III: Solutions

In this notebook you're going to find some exercises to test what you've learnt in the lesson. You will need also to make some research in the internet to solve some of them.

You will find `[db]` or `[dw]` on each exercise, this means where you should perform that exercise;

- **[db]**: Is the local mysql instance you created in your computer (Localhost)
- **[DW]**: Is the remote mysql instance located in `iosqlde.onairnet.xyz`

Requirements and help

You'll need to import pandas and the mysql connector.

Also you can use the sql function we created in class

## How to solve

You will find an empty var named `command` on each exercise, simply write your SQL code in ther and execute the cell. Check in mysql Workbench if it worked.

In [26]:
#Imports
import pandas as pd
import mysql.connector

#SQL Function
def sql(_query, _con):
    
    cursor = _con.cursor()
    cursor.execute(_query)
    
    cols = cursor.column_names
    data = cursor.fetchall()
    
    _con.commit()
    
    df = pd.DataFrame(data, columns=cols)
    
    return df

#Connections
dw = mysql.connector.connect(
  host="iosqlde.onairnet.xyz",
  user="assemblerReader",
  password="!Reader2022",
  database="sqlCourseEjercicios"
)

db = mysql.connector.connect(
  host="localhost",
  user="YOUR_USER",
  password="YOUR_PASSWORD"
)

ProgrammingError: 1044 (42000): Access denied for user 'assemblerReader'@'%' to database 'sqlCourseEjercicios'

## 1.- The ecommerce [db]

From the ecommerce description create all the tables needed, read carefully. On those statements you'll find the fields needed for each table also.

- This ecommerce will sell clothes (t-shirts, trousers and shoes).
- They are building a CRM to manage the relationship with their customers and providers.
- In the CMS they'll store all the product information like price, stock, the provider, the buying price, the selling price, the tax %, the product name, the brief description, the long description, and the status of the product.
- They want to create a personaliced experience for their customers and they want to offer the possibility to request bills of their purchases with the basic information of a bill.
- They'll need to store all their customer data (name, surname, age, email, phone, etc ...)
- Their customers can make orders from different address and have different address for billing and shipping
- They want to offer promocodes to their customers of two types (amount discount and % discount), they want to limit also how many times those promocodes can be used

### A - Create a database

In [ ]:
command = """
    CREATE DATABASE `dbEcommerce` ;
"""
sql(command, dw)

### B - Create the tables

Read the statements of the case presented above and create all the tables needed for them.
Pay attention to the columns formatting

In [ ]:
command1 = """
    CREATE TABLE `dbEcommerce`.`ecommerce_products` (
  `productID` INT NOT NULL AUTO_INCREMENT,
  `name` VARCHAR(45) NULL,
  `price` FLOAT NULL,
  `stock` INT NULL,
  `provider` VARCHAR(45) NULL,
  `cost` FLOAT NULL,
  `tax` FLOAT NULL,
  `description` VARCHAR(450) NULL,
  `longDescription` LONGTEXT NULL,
  `status` VARCHAR(45) NULL,
  PRIMARY KEY (`productID`));
"""

Other tables to create:
- bills (id, date creation, amount, tax)
- bills_lines (lineID, billID, productID, price, amount, tax)
- customers (id, name, email, phone, languaje)
- customers_address (id, customerID, address, cp, city, county, isPrimary)
- promos (id, code, type, amount, status, maxUses, uses)

### C - Insert data in the tables

Insert at leat 5 items on each table

In [ ]:
command = """
    INSERT INTO `dbEcommerce`.`ecommerce_products` 
    (`productID`, `name`, `price`, `stock`, `provider`, `cost`, `tax`, `description`, `longDescription`, `status`) 
    VALUES (
    '1001', 
    'Blue T-Shirt Cat', 
    '25', 
    '100', 
    'Cattos SL', 
    '10', 
    '0.21', 
    'Pretty t-shit with a smiling cat', 
    'Buy this T-Shirt to feel like the cattest in you house', 
    'Available');

"""
sql(command, db)

## 2.- The kitchen store [db]

A company that sells kitchens wants to increase its control over the elements that affect it. As a result of the analysis it carries out, it obtains the following information:

- There are a number of manufacturers of kitchen furniture. 

- Each manufacturer has a name, address and a list of telephone numbers. 

- Each manufacturer produces several pieces of kitchen furniture. 

- A kitchen unit has a certain line, a certain colour, a certain size (width, height, length) and can have one of the following categories: wall unit, base unit, panel and worktop. 

- For base units it is important to know the height above the floor and for worktops it is important to know the type of worktop (marble or agglomerate).

- Each manufacturer can work with several distributors and each distributor works with at least one manufacturer. 

- A distributor's name, address and a list of telephone numbers are available.

- A kitchen is identified by a code and we are interested in knowing the number of pieces of furniture that make it up.

- Each kitchen can be sold by only one distributor, although each distributor can sell several kitchens. A distributor can give a kitchen to another distributor, so that the latter can sell it.

- Each kitchen must be assembled by at least one assembler and the same assembler can assemble several kitchens. We are interested in the assembler's VAT number, name, address, unique telephone number and the number of kitchens he has assembled.

- Each kitchen can be bought by one or more customers and the same customer can buy several kitchens. We are interested in a customer's VAT number, name, address and unique telephone number.

### A - Create a database [db]

In [ ]:
command = """
    CREATE DATABASE kitchens
"""
sql(command, db)

### B - Create the tables

Read the statements of the case presented above and create all the tables needed for them.
Pay attention to the columns formatting

This are the required tables:

- Manufacturers (id, name, address, country)
- kitchen_units (id, manufacturer, colour, width, height, lenght, category)
- base_units_data (id, unitID, heightFloor, worktopType)
- distributors (id, name, address, email)
- distributors_phones (phoneNumber, distributorID)
- kitchen_pieces (id, kitchenID, unitID)
- kitchens (id, pieces, distributorID, delegatedBy, assemblerID)
- assemblers (id, VAT, name, address, phone)
- orders (id, customerID, assemblerID, kitchenID)
- customers (id, vat, name, address, phone)

### C - Insert data in the tables

Insert at leat 5 items on each table

USE `INSERT INTO` command

## 3.- The yatcht club [db]

A yacht club wants to have computerised data on its facilities, employees, members and boats that are in the club. The club is organised as follows:

- The members belonging to the club are defined by their name, address, ID number, telephone number and date of joining the club.
 
- The boats are defined by: registration number, name, type and dimensions.
 
- The moorings have as data of interest the mooring number, the water and electricity meter reading, and whether or not they have contracted maintenance services.

- On the other hand, it must be taken into account that a boat belongs to one member, although a member can have several boats. A boat will occupy a mooring and a mooring is occupied by only one boat. The date on which a vessel is assigned to a mooring is important.

- Members can own moorings, with the date of purchase of the mooring being important. It should be noted that a mooring belongs to only one member. 

- The yacht club is divided into several zones defined by a letter. A zone will have several moorings and a mooring belongs to only one zone.

- As for the employees, they are defined by their code, name, address, telephone and speciality. An employee is assigned to several zones and in a zone there can be more than one employee, being of interest the number of boats he/she is in charge of in each zone. It should be noted that one employee may not be responsible for all the vessels in a zone.

### A - Create a database

In [ ]:
command = """
    CREATE DATABASE yatch
"""
sql(command, db)

### B - Create the tables

Read the statements of the case presented above and create all the tables needed for them.
Pay attention to the columns formatting

This are the required tables:

- members (dni, name, address, phone, joinDate)
- boats (regNumber, name, type, dimensions, memberID)
- moorings (number, waterLevel, electricity, maintenance, memberID, purchaseDate, zone)
- parkings (id, dateStart, dateEnd, boatID, mooringNumber)
- employees (code, name, address, phone, speciality)
- employees_zones (id, zoneID, employeeID)

### C - Insert data in the tables

Insert at leat 5 items on each table

USE `INSERT INTO` command

## 4.- Hotel Reviews [db]

Download this dataset: https://www.kaggle.com/datasets/jiashenliu/515k-hotel-reviews-data-in-europe

### B - Create the table to host the data

Read the statements of the case presented above and create all the tables needed for them.
Pay attention to the columns formatting

In [ ]:
command = """
CREATE TABLE `hotel_reviews` (
  `id` int NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `scoring` int DEFAULT NULL,
  `date` date DEFAULT NULL,
  `avgScore` float DEFAULT NULL,
  `hotelName` varchar(95) DEFAULT NULL,
  `nationality` varchar(95) DEFAULT NULL,
  `NegativeReview` longtext,
  `negativeWords` int DEFAULT NULL,
  `totalReviews` int DEFAULT NULL,
  `Positive_Review` longtext,
  `positiveWords` int DEFAULT NULL,
  `reviewsGiven` int DEFAULT NULL,
  `reviewerScore` float DEFAULT NULL,
  `tags` longtext,
  `daysSince` varchar(25) DEFAULT NULL,
  `lat` varchar(45) DEFAULT NULL,
  `long` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id`)
)

"""
sql(command, db)

### C - Insert data in the tables

Build the `INSERT` statement and replace the values for the vars in a for loop

In [19]:
dw = mysql.connector.connect(
  host="iosqlde.onairnet.xyz",
  user="drubio",
  password="Sifon7927@",
  database="sqlCourseEjercicios"
)

In [23]:
#import Pandas

# Load here the CSV

dataframe = pd.read_csv('Hotel_Reviews.csv')

cursor = dw.cursor()

In [25]:
# Loop to load the data

for i in dataframe.index:
    row = dataframe.iloc[i].to_dict()
    
    sent = ""
    for col in dataframe.columns:
        sent = sent +', "' + str(row[col]).replace("'","") + '"'
    
    sent = " NULL, " + sent[2:]
    sql_command = f"""
        INSERT INTO hotel_reviews VALUES ({sent})
    """
    
    cursor.execute(sql_command)
    dw.commit()

### D - Perform the following queries

Using the table you just created, perform this queries

1. Get a list of the nationalities of the reviewers
2. Get a list of the hotels names
3. Get the first 10 reviews
5. Get the last 10 reviews
6. Get the hotels from Amsterdam
7. Get the oldest review
8. Get the newest review
9. Get the best review not mentioning the breakfast
10. Get a bad review mentioning location

1. `SELECT DISTINCT(nationality) FROM hotel_reviews;`
2. `SELECT DISTINCT(hotelName) FROM hotel_reviews;`
3. `SELECT * FROM hotel_reviews LIMIT 10;`
4. `SELECT * FROM hotel_reviews order by date ASC LIMIT 10;`
5. `SELECT DISTINCT(hotelName) FROM hotel_reviews WHERE address LIKE '%amsterdam%';`
6. `SELECT * FROM hotel_reviews order by date ASC LIMIT 1;`
7. `SELECT * FROM hotel_reviews order by date DESC LIMIT 1;`
8. `SELECT * FROM hotel_reviews WHERE Positive_Review NOT LIKE '%breakfast%' AND  NegativeReview NOT LIKE '%breakfast%' ORDER BY reviewerScore DESC LIMIT 1;`
9. `SELECT * FROM hotel_reviews WHERE Positive_Review LIKE '%location%' OR  NegativeReview LIKE '%location%' ORDER BY reviewerScore ASC LIMIT 1;`