# SQL III: Exercises

In this notebook you're going to find some exercises to test what you've learnt in the lesson. You will need also to make some research in the internet to solve some of them.

You will find `[db]` or `[dw]` on each exercise, this means where you should perform that exercise;

- **[db]**: Is the local mysql instance you created in your computer (Localhost)
- **[DW]**: Is the remote mysql instance located in `iosqlde.onairnet.xyz`

Requirements and help

You'll need to import pandas and the mysql connector.

Also you can use the sql function we created in class

## How to solve

- You will find an empty var named `command` on each exercise, simply write your SQL code in ther and execute the cell. 
- Copy that cell as much times as commands you need to execute
- Check in mysql Workbench if it worked.

In [ ]:
#Imports
import pandas as pd
import mysql.connector

#SQL Function
def sql(_query, _con):
    
    cursor = _con.cursor()
    cursor.execute(_query)
    
    cols = cursor.column_names
    data = cursor.fetchall()
    
    _con.commit()
    
    df = pd.DataFrame(data, columns=cols)
    
    return df

#Connections
dw = mysql.connector.connect(
  host="iosqlde.onairnet.xyz",
  user="assemblerReader",
  password="!Reader2022",
  database="sqlCourse"
)

db = mysql.connector.connect(
  host="localhost",
  user="YOUR_USER",
  password="YOUR_PASSWORD"
)

In [ ]:
command = """

"""
sql(command, db)

## 1.- The ecommerce [db]

From the ecommerce description create all the tables needed, read carefully. On those statements you'll find the fields needed for each table also.

- This ecommerce will sell clothes (t-shirts, trousers and shoes).
- They are building a CRM to manage the relationship with their customers and providers.
- In the CMS they'll store all the product information like price, stock, the provider, the buying price, the selling price, the tax %, the product name, the brief description, the long description, and the status of the product.
- They want to create a personaliced experience for their customers and they want to offer the possibility to request bills of their purchases with the basic information of a bill.
- They'll need to store all their customer data (name, surname, age, email, phone, etc ...)
- Their customers can make orders from different address and have different address for billing and shipping
- They want to offer promocodes to their customers of two types (amount discount and % discount), they want to limit also how many times those promocodes can be used

### A - Create a database

### B - Create the tables

Read the statements of the case presented above and create all the tables needed for them.
Pay attention to the columns formatting

### C - Insert data in the tables

Insert at leat 5 items on each table